<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2 class="text-center"><%= subtitle %></h2>
      <form action="/login" method="POST" role="form">
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" type="text" name="username" placeholder="Your username" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" name="password" placeholder="Your password" class="form-control">
        </div>
        <% if (typeof message !== "undefined") { %>
          <div class="error-message" role="alert"><span class="alert"><%= message %></span></div>
        <% } %>
        <button class="btn btn-primary btn-lg btn-block">Login</button>
        <br>
        <p class="account-message">
            Do you have not an account?
        <a href="/signup">Signup</a>
        </p>
      </form>
    </div>
  </div>
</div>
