<div class="container">

  <div class="thumbnail col-md-10 col-md-offset-1 new-product">
  <h2 class="text-center"><%= subtitle %></h2>
    <div class="col-md-12">
      <form action="/products/new" method="POST" id="form-products" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" id="name" type="text" name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description" rows="3" placeholder="Description of my product"></textarea>
        </div>
        <div class="form-group">
          <label for="avatar">Photo</label>
          <input  id="avatar" type="file" name="avatar">
        </div>
        <button class="btn btn-default">Create product</button>
        <input  class="form-control"  id="lat" name="lat" placeholder="Latitude" style="visibility:hidden">
        <input  class="form-control" id="lon" name="lon" placeholder="Longitude" style="visibility:hidden">
      </form>
    </div>
    <div class="col s12">
      <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
      <div id="map" style="height:350px; width:100%"></div>
    </div>
  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ-v885dJaXvKNjk-ge5sbkuxWBg_LTD0&libraries=places"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>
